@charset "UTF-8";
* {margin: 0; padding: 0; border: 0; font-size: 100%; }
h1 {
	background-image: url("../images/backgroundphoto2.jpg"); 
	padding: 20px;
	background-repeat: repeat;
	background-size: 20%;
}
#title{
	font-family: 'Audiowide', cursive;
	font-size: 45px;
	color:aqua;
	text-align: center;
}
#firsttry{
	text-align: center;
	font-size: 21px;
	margin-top: 21px;
	margin-bottom: 21px;
	background-color:#B0DBE4; 
}
.dummytext{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
	background-color: bisque;
}
.introduction{
	border: ridge; 
	border-color: plum; 
	padding: 20px; 
	background-color: blanchedalmond;
	font-family: 'Permanent Marker', cursive;
}
.margin {
	padding-left: 10px;
	padding-right: 10px;
}
.creators{
	text-align: center;
}